.p-about {
    z-index: 1;
}

.p-about-inner {
    max-width: rem(500);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(10);
    padding-right: rem(10);

    @include mq(tab) {
        max-width: rem(1440);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: rem(36);
        padding-right: rem(36);
    }
}

.p-about-titleBox {
    @include mq(tab) {
        padding-left: rem(75);
        position: relative;
    }
}

.p-about-title {
    margin: 0;
    line-height: 1
    

}

.p-about-title h2 {
    font-size: rem(33);
    color: $light-color;
    letter-spacing: rem(1);
    font-weight: 400;

    @include mq(tab) {
        font-size: rem(50);
    }


    

}

.p-about-subTitle {
    
}

.p-about-subTitle p {
    font-size: rem(16);
    line-height: (30 / 16);

    @include mq(tab) {
        font-size: rem(24);
        padding-left: rem(50);
    }
}

.p-about-titleBox {
    position: relative;
    padding-left: rem(10);
}


.p-about-titleImg {
    position: absolute;
    content: "";
    top: rem(-40);
    left: 0;
    z-index: -1;

    @include mq(tab) {
        left: rem(50);
    }
}
.p-about-titleImg--02 {
    @include mq(tab) {
        left: rem(-30);
    }
}

.p-about-titleBg {
    position: absolute;
    top: 50%;
    right: rem(100);
    transform: translateY(-50%);
    content: "";
    padding-top: rem(50);
}

.p-about-titleBg h1 {
    font-size: rem(297);
    font-weight: 400;
    color: rgba(59, 162, 216, .12);
}

.p-about-container {
    padding-left: rem(10);
    padding-right: rem(10);
   

    @include mq(tab) {
        padding-left: rem(75);
        padding-right: 0;
    }
}

.p-about-container02 {
    padding-left: rem(10); 
    position: relative;
    
}

.p-about-text {
    position: relative;

    @include mq(tab) {
        max-width: rem(650);
        width: 100%;
        padding-right: 0;
    }
}

.p-about-text p {
    font-family: $font-family-base;
    font-size: rem(14);
    color: $text-black;
    font-weight: 300;
    letter-spacing: (14 / 40);
    line-height: (28 / 14);
    font-feature-settings: 'palt'; //句読点の字詰め

    @include mq(tab) {
        font-size: rem(15);
    }
}

.p-about-text-space {
    @include mq(tab) {
        padding-top: 3%;
    }
}

.p-picture-box {}

.p-about-picture {
    position: relative;
    max-width: rem(192);
    width: 100%;
    height: rem(225);
    margin-left: auto;
    background-color: rgba(59, 162, 216, .12);
    border-radius: rem(4);

    @include mq(tab) {
        max-width: rem(250);
        height: rem(292);
    }
}

.p-about-picture::after {
    display: block;
    content: "";
    width: 100%;
    
}

.p-about-picture img {
    position: absolute;
    right: rem(17);
    bottom: rem(17);
    border-radius: rem(4);
}

.p-about-picture02 {
    position: relative;
    max-width: rem(274);
    width: 100%;
    height: rem(195);
    margin-right: auto;
    background-color: rgba(59, 162, 216, .12);
    border-radius: rem(4);

    @include mq(tab) {
        max-width: rem(480);
        height: rem(340);
    }
}

.p-about-picture02::after {
    display: block;
    content: "";
    width: 100%;
    
}

.p-about-picture02 img {
    position: absolute;
    right: rem(20);
    bottom: rem(20);
    border-radius: rem(4);
}

