

.p-footer {
    position: relative;
    height: 26%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    color: #fff;
}

.p-footer::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.p-footer::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,53,94,.60);
    z-index: -1;
}

.p-footer-inner {
    padding-left: rem(10);
    padding-right: rem(10);

    @include mq(tab) {
        padding: 0;
    }

    
}

.p-footer-container {
    @include mq(tab) {
        display: flex;
        padding: 0 rem(36);
    }
}

.p-footer-title {
    padding-top: rem(50);
    font-size: 0;
}

.p-footer-title span {
    font-size: rem(20);
    font-family: $font-family-en;
    line-height: 1;

    @include mq(tab) {
        font-size: rem(24);
    }
}

.p-footer-title span:not(:last-child) {
    padding-right: rem(5);

}

.p-footer-subtitle {
    font-size: 0;
}

.p-footer-subtitle span {
    font-size: rem(10);
    padding-left: rem(5);

    @include mq(tab) {
        font-size: rem(12);
    }
}

.p-footer-address p {
    font-size: rem(14);
    font-weight: 500;
    font-family: $font-family-base;
}

.p-footer-address span {
    padding-left: rem(8);
}

.p-footer-table {
   
}

.p-footer-table th, td {
    border: 0px none;
    font-weight: 500;
    font-size: rem(14);
    font-weight: 500;
    font-family: $font-family-base;
}

.p-footer-table th {
    width: rem(60);
}

.p-footer-sns {
    display: flex;
    align-items: center;
}

.p-footer-snsItem {
    width: rem(40);
    font-size: rem(30);
}

.p-footer-snsItem:nth-child(3) {
    padding-left: rem(3);
}

.p-footer-navLink {
    font-size: rem(20);
    font-family: $font-family-en;
    display: table;
    width: 100%;
    line-height: 1;
}

.p-footer-navItem {
    @include mq(tab) {
        max-width: rem(900);
        margin-left: auto;
        
    }
}

.p-footer-nav {
    @include mq(tab) {
        display: flex;
    }
}

.p-footer-navLink {
    @include mq(tab) {
        font-size: rem(0);
        font-weight: 400;
        line-height: 1;
        width: 90px;
        text-align: center;
    }
}

.p-footer-nav a {
    font-size: rem(16);

    @include mq(tab) {
        font-size: rem(20);
    }
}


.p-footer-navLink span {
    font-size: rem(12);
    padding-left: rem(12);
    display: table-cell; /*テーブルセル要素に変更*/
    vertical-align: middle; /*上下中央*/

    @include mq(tab) {
        display: block;
        padding-left: 0;
        text-align: center;
    }
}

.p-footer-line {
    height: rem(1);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: rem(1) solid rgba(255,255,255,.5);

    
}

.p-footer-info {
    display: flex;
    justify-content: center;
    padding-top: rem(14);

    @include mq(tab) {
        padding: 0;
        
    }
}

.p-footer-infoLink {
    font-size: rem(14);
    font-family: $font-family-base;
}

.p-footer-infoItem {
    @include mq(tab) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: rem(1096);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: rem(26) 0 rem(35) 0;
        
    }
}
