
.p-header {
    @include mq(tab) {
        background-color: $background;
        
    }
}



.p-header-inner {
    display: flex;
    
    @include mq(tab) {
        align-items: center;
        justify-content: space-between;
    }
}

.p-header-titleBox {
    padding: rem(9) rem(10);

    @include mq(tab) {
        padding: 0 0 0 rem(36);
    }
}

.p-header-title {
    
    line-height: 1;
}

.p-header-title span {
    font-size: rem(14);
    display: block;
    font-family: $font-family-en;

    @include mq(tab) {
        display: inline-block;
        font-size: rem(24);
        font-weight: 400;
    }
}

.p-header-title span:nth-child(1) {
    color: $text-color-ac;
}
.p-header-title span:nth-child(2),
.p-header-title span:nth-child(3){
    color: $light-color;
    padding-top: rem(2);

    @include mq(tab) {
        padding-top: 0;
        padding-left: rem(1);
    }
}
.p-header-title span:nth-child(3) {
    color: $dark-color;
}

.p-header-subtitle p {
    font-size: rem(12);
    color: $dark-color;

}

.p-header-subtitle span {
    font-size: rem(12);
    padding-left: rem(2);
}

// .p-header__box {
//     display: flex;
// }


.p-header-menu__items {
    display: flex;
}

.p-header__overlay {
    background: rgba($color: #fff, $alpha: 1);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}

.p-header__menu {
    left: 0;
    overflow: scroll;
    padding-bottom: 6.25rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.p-header-menu__item {
    font-size: 0;
    padding-top: rem(22);
}

.p-header-menu__item a {
    font-size: rem(20);
    font-family: $font-family-en;
    color: $light-color;
    font-weight: 400;
    line-height: 1;
}

.p-header-menu__item span {
    font-size: rem(11);
    text-align: center;
    display: block;
}

.p-header-menu__contact {
    font-size: 0;
    padding: rem(20) rem(42);
    background-color: $dark-color;
}

.p-header-menu__contact a {
    font-size: rem(20);
    font-family: $font-family-en;
    color: #fff;
    font-weight: 400;
    line-height: 1;
}

.p-header-menu__contact span {
    font-size: rem(11);
    text-align: center;
    display: block;
}