.p-movie {
    background-image: url(../img/movie-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 0;
    padding-top: 66%;
    position: relative;

    @include mq(tab) {
        padding-top: 38.2%;
    }
}

.p-movie::before {
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 2;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
}



.p-movie-inner {
    padding-left: rem(28);
    padding-right: rem(28);
}

.p-movie-img {
    
    position: absolute;
    top: rem(-78);
    left: 50%;
    content: "";
    transform: translateX(-50%);
    width: 85.6%;

    @include mq(tab) {
        width: 50%;
    }
    
}

.p-movie-img img {
    border-radius: rem(4);
}