.p-sdgs__inner {
    max-width: rem(1152);
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $light-color;
    padding: rem(20);
    display: flex;
}

.p-sdgs__img {
    max-width: rem(400);
    width: 100%;
}

.p-sdgs__textBox {
    padding-left: rem(40);
    font-family: $font-family-YuMincho;
}

.p-sdgs__title {
    
}

.p-sdgs__title h2 {
    font-size: rem(20);
    font-weight: lighter;
    line-height: 1;
}

.p-sdgs__border {
    background-image : linear-gradient(to right, $light-color, $light-color rem(2), transparent rem(2), transparent rem(6)); 
    background-size: rem(6) rem(2);
    background-position: left bottom;
    background-repeat: repeat-x;
    padding-top: rem(17.5);
    max-width: rem(616);
    width: 100%;
}

.p-sdgs__text {
    padding-top: rem(17.5);
    max-width: rem(563);
    width: 100%;
}

.p-sdgs__text p {
    font-family: $font-family-YuMincho;
    font-size: rem(15);
    line-height: (32 / 15);
    font-feature-settings: "palt";
}