// 色
$background: #fff; // 背景
$light-color: #005BA0; // テキスト色
$dark-color: #00355E;
$background-color: rgba(59,162,216,.12);
$text-color: #333333;

// マウスホバー
$opacity: 0.7; // 透過度

// フォント
$font-family-base: "ほのか明朝";// ベースフォント
$font-family-en: 'Cormorant Garamond', serif;
$font-family-YuMincho: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ" ;
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1280px; // インナー幅
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);




$padding-pc: 72px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
