fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #005BA0;
	font-family: "ほのか明朝";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border: 1px solid;
	padding: 0;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-main-visual {
	margin-top: 5rem;
}

.c-footer__address {
	font-size: 0.875rem;
}

.c-footer__nav-link {
	text-align: center;
}

.c-footer__nav-link a {
	display: block;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.25rem;
	text-align: center;
}

.c-footer__nav-link span {
	color: #fff;
	display: block;
	font-size: 0.75rem;
	line-height: .1;
	margin-top: 0;
}

.c-footer__otherLink {
	color: #fff;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ";
	font-size: 0.875rem;
}

.c-footer__sns-item-link {
	font-size: 1.375rem;
}

.c-header__nav-link {
	text-align: center;
}

.c-header__nav-link a {
	display: block;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.25rem;
	text-align: center;
}

.c-header__nav-link span {
	color: #00355E;
	display: block;
	font-size: 0.75rem;
	line-height: .1;
	margin-top: 0;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-top__arrow {
	border-left: solid 2px #fff;
	border-top: solid 2px #fff;
	height: 1.25rem;
	margin: 0.3125rem auto -0.3125rem;
	transform: rotate(45deg);
	width: 1.25rem;
}

.c-top__text {
	color: #fff;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.25rem;
}

.p-footer {
	background: linear-gradient(rgba(0, 53, 94, 0.6), rgba(0, 53, 94, 0.6)), url(../img/footer-bg.jpg);
	background-size: cover;
}

.p-footer__inner {
	padding: 3.125rem 4.5rem 2.125rem;
}

.p-footer__container {
	display: flex;
	z-index: 1;
}

.p-footer__title {
	color: #fff;
	max-width: 23.125rem;
	width: 100%;
}

.p-footer__title span {
	font-family: "Cormorant Garamond", serif;
	font-size: 1.5rem;
}

.p-footer__title span:nth-child(4) {
	display: block;
	font-family: "ほのか明朝";
	font-size: 0.75rem;
	letter-spacing: 0;
	line-height: .1;
	margin-top: 0;
}

.p-footer__title span:not(:last-child) {
	margin-right: 0.1875rem;
}

.p-footer__access {
	color: #fff;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-size: 0.875rem;
	margin-top: 1.8125rem;
}

.p-footer__telMail,
.p-footer__telMail th,
.p-footer__telMail td {
	border: none;
	border-collapse: collapse;
	padding: 0;
}

.p-footer__telMail th {
	width: 3.125rem;
}

.p-footer__sns {
	color: #fff;
	display: flex;
	margin-top: 1.8125rem;
}

.p-footer__sns li:not(:last-child) {
	margin-right: 1.375rem;
}

.p-footer__nav {
	display: flex;
	height: 5rem;
	margin-left: auto;
}

.p-footer__nav li:not(:last-child) {
	padding-right: 2.1875rem;
}

.p-footer__nav-links {
	color: #fff;
	display: flex;
	padding-right: 2.5rem;
	padding-top: 1.25rem;
}

.p-footer__contents {
	display: flex;
	margin-bottom: 2.125rem;
	margin-top: 4.75rem;
}

.p-footer__otherLinks a:nth-child(1) {
	margin-right: 1.25rem;
}

.p-footer__otherLinks a:nth-child(2) {
	margin-right: 3.5rem;
}

.p-footer__copy {
	color: #fff;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ";
	font-size: 0.75rem;
	margin-left: auto;
}

.p-header {
	background-color: #fff;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
}

.p-header__inner {
	display: flex;
	justify-content: space-between;
}

.p-header__title {
	margin-right: 1.5625rem;
	max-width: 23.125rem;
	padding-top: 1.25rem;
	width: 100%;
}

.p-header__title span {
	font-family: "Cormorant Garamond", serif;
	font-size: 1.5rem;
}

.p-header__title span:nth-child(1) {
	color: #3BA2D8;
}

.p-header__title span:nth-child(2) {
	color: #005BA0;
}

.p-header__title span:nth-child(3) {
	color: #00355E;
}

.p-header__title span:nth-child(4) {
	display: block;
	font-family: "ほのか明朝";
	font-size: 0.75rem;
	letter-spacing: 0;
	line-height: .1;
	margin-top: 0;
}

.p-header__title span:not(:last-child) {
	margin-right: 0.1875rem;
}

.p-header__nav {
	display: flex;
	height: 5rem;
}

.p-header__nav li:not(:last-child) {
	padding-right: 2.1875rem;
}

.p-header__nav-links {
	display: flex;
	padding-right: 2.5rem;
	padding-top: 1.25rem;
}

.p-header__contact {
	background-color: #00355E;
	color: #fff;
	width: 12.5rem;
}

.p-header__contact a {
	display: block;
	font-family: "Cormorant Garamond", serif;
	font-size: 1.25rem;
	padding-top: 1.25rem;
	text-align: center;
}

.p-header__contact span {
	display: block;
	font-size: 0.75rem;
	line-height: .5;
	margin-top: 0;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-top {
	background-color: #00355E;
	height: 5rem;
	position: relative;
	width: 100%;
}

.p-top__items {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.25vw;
}

.l-inner {
	max-width: 1330px;
	padding-left: 25px;
	padding-right: 25px;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

}

@media (min-width: 1280px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1280px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1440px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

