.l-access {
    margin-top: rem(180);

}

.l-access-subTitle {
    margin-top: rem(30);
}

.l-about-text {
    margin-top: rem(20);
}

.l-access-map {
    margin-top: rem(30);

    @include mq(tab) {
        margin-top: 0;
    }
}

.l-access-btn {
    margin-top: rem(35);

    @include mq(tab) {
        margin-top: rem(54);
    }
}