.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.l-header-menu__item {
    margin-left: rem(32);
}

.l-header-menu__item:last-child {
    margin-left: rem(35);
}
// .l-header-menu__item:first-child {
//     margin-left: 0;
// }