.l-project {
    margin-top: rem(232);
} 
.l-project__container {
    
}

.l-project__container::before {
    position: absolute;
    content: "";
    top: rem(14);
    right: rem(72);
    height: 100%;
    width: 62.3%;
    background: url(../img/project01.jpg);
    background-size: cover;
    z-index: -1;
}

.l-project__container::after {
    position: absolute;
    content: "";
    // top: 0;
    bottom: rem(56);
    left: 0;
    height: 100%;
    width: 73.2%;
    background: $background-color;
    z-index: -2;
}

.l-project__container2::before {
    position: absolute;
    content: "";
    top: rem(48);
    left: rem(72);
    height: 100%;
    width: 62.3%;
    background: url(../img/project02.jpg);
    background-size: cover;
    z-index: -1;
}

.l-project__container2::after {
    position: absolute;
    content: "";
    bottom: rem(56);
    right: 0;
    height: 100%;
    width: 73.2%;
    background: $background-color;
    z-index: -2;
}

.l-project__container3::before {
    position: absolute;
    content: "";
    top: rem(14);
    right: rem(72);
    height: 100%;
    width: 62.3%;
    background: url(../img/project03.jpg);
    background-size: cover;
    z-index: -1;
}

.l-project__container3::after {
    position: absolute;
    content: "";
    // top: 0;
    bottom: rem(56);
    left: 0;
    height: 100%;
    width: 73.2%;
    background: $background-color;
    z-index: -2;
}



.l-project__content {
    position: absolute;
    top: rem(-100);
    right: rem(122);
    content: "";
}

.l-project__content2 {
    position: absolute;
    top: rem(-100);
    left: rem(144);
    content: "";
}

.l-project__content3 {
    position: absolute;
    top: rem(-100);
    right: rem(144);
    content: "";
}

.l-project__textBox {
    margin-right: auto;
    margin-left: rem(72);
}
.l-project__textBox2 {
    margin-left: auto;
    margin-top: rem(-40);
}

.l-project__icon {
    max-width: rem(129);
    width: 100%;
    position: absolute;
    top: rem(-76.5);
    left: rem(-75);
    z-index: -1;
}

.l-project__icon2 {
    max-width: rem(124);
    width: 100%;
    position: absolute;
    top: rem(-40);
    left: rem(380);
    z-index: -1;
}

.l-project__btn {
    margin-left: rem(72);
    margin-top: rem(57);
}

.l-project__btn2 {
    margin-left: auto;
    margin-top: rem(57);
    max-width: rem(216);
    width: 100%;
}