.c-footer__nav-link {
    text-align: center;
}

.c-footer__nav-link a {
    text-align: center;
    display: block;
    font-size: rem(20);
    font-family: $font-family-en;
}

.c-footer__nav-link span {
    font-size: rem(12);
    display: block;
    line-height: .1;
    margin-top: 0;
    color: #fff;
}